<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <style>
  body {
    color:#666666;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  a {
      text-decoration: underline;
      color:#ABABAB;
  }
  .big-span{
    font-size:20px;
  }
  .max-span{
    max-width: 60%;
  }
  .txtbox-size{
    max-width:30px;
  }
  .menu-action{
    margin-top:10%;
  }
  .color-div,.menu-action a{
    text-decoration: none ;
  }
  .dropdown-menu a{
    text-decoration: none ;
  }
  .hrline{
    border:3px solid #ccc;
  }
  .border-rgt{
     border-right: 1px solid #ccc;
    }
  .line-hght{
    line-height: 40px;
  }
  .marginlft{
      margin-left:5px !important;
  }
  .margintop{
    margin-top:5%;
  }
  .margindown{
    margin-bottom:5%;
  }
  .headfont{
    font-size: 30px;
  }
  .margin-zero{
    margin: 0 auto;
  }
  .color-div{
     width:10px;
     height:20px;
     margin:5px;
  }
  .color-div:hover{
    width:12px;
    height:22px;
  }
  .active {
    width:15px;
    height:25px;
  }
  .price{
    color:#5A5A5C;
  }
  .help-block, .lighter-font p{
    color:#ABABAB;
  }

    @media (min-width: 992px) {
      .modal-dialog{
        width:50%;
      }
      .modal-content{
        min-height:400px;
      }
      .modal-content img{
        min-height:250px;
      }
    }

  @media (max-width: 768px) {
    .headfont{
      font-size: 18px;
      font-weight:bolder;
    }
    h4{
      font-size: 15px;
    }
    input[readonly] {
          border: #ccc solid 1px;
    }
    .checkout-div{
      text-align: center;
      margin-bottom: 20px;
    }

    .checkout-div button{
      display: block;
      position: relative;
      top: -10px;
      width:80%;
      margin:0 auto;
    }
    .checkout-div a{
      display: block;
      position: relative;
      top: 50px;
    }

    .lock-img{
      display: block;
      margin: 0 auto;
    }
   }


  </style>
</head>
<body ng-app="ShopApp" ng-controller="ShopController">

<!-- Container -->
  <div class="container margintop" >

    <span class="headfont">  YOUR SHOPPING BAG </span>
    <span class="hidden-md hidden-lg pull-right">{{cartData.length + " ITEMS"}}</span>
    <hr class="hidden-xs hidden-sm">

      <div class="col-lg-8 col-md-8 hidden-xs hidden-sm ">
        <p>{{cartData.length + " ITEMS"}} </p>
      </div>
      <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
        <p>SIZE</p>
      </div>
      <div class="col-lg-1 col-md-1 hidden-xs hidden-sm">
        <p>QTY</p>
      </div>
      <div class="col-lg-1 col-md-1 hidden-xs hidden-sm">
        <p>PRICE</p>
      </div>

      <hr class="hrline">
      <div class="row" ng-repeat="products in cartData track by $index">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <img ng-src='{{"images/"+"T"+products.p_id +".jpg"}}' class="img-responsive" alt="shirt">
        </div>

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
          <div class="row" >
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 lighter-font">
                <h4>{{products.p_name | uppercase}}</h4>
                <p> Style #: {{products.p_style | uppercase}}</p>
                <p> Colour: {{products.p_selected_color.name |titleCase }}</p>
                <ul class="list-inline menu-action  hidden-sm hidden-xs">
                  <li class="border-rgt"><a  data-toggle="modal" data-target="#editModal" ng-click="edit(products.p_id)">EDIT</a></li>
                  <li class="border-rgt"><a href="#" ng-click="deleteProduct(products.p_id)">X REMOVE</a></li>
                  <li><a href="#">SAVE FOR LATER</a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="hidden-lg hidden-md"> Size : </span><span>{{products.p_selected_size.code | uppercase}}</span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <span class="hidden-lg hidden-md"> QTY : </span><span><input type="text" readonly value="{{products.p_quantity}}" class="txtbox-size text-center"></span>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h4 ng-if=" (products.p_originalprice - products.p_price) > 0"><sup>$</sup><s>{{products.p_originalprice | currency:""}}</s></h4>
                <h4  class="price"><sup>$</sup>{{products.p_price | currency:""}}</h4>
              </div>

          </div>
        </div>
        <div class="clearfix"></div>
        <ul class="list-inline menu-action hidden-lg hidden-md text-center">
          <li class="border-rgt"><a href="#" data-toggle="modal" data-target="#editModal" ng-click="edit(products.p_id)">EDIT</a></li>
          <li class="border-rgt"><a href="#" ng-click="deleteProduct(products.p_id)">X REMOVE</a></li>
          <li><a href="#">SAVE FOR LATER</a></li>
        </ul>
        <hr ng-if="!$last">
    </div>

    <hr class="hrline">
    <div class="row">
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs lighter-font">
        <p><strong> Need help or have questions?</strong></p>
        <span> Call Customer Service at</span>
        <p><span> 1800-555-5555</span></p>
        <p><a href="#">Chat with one of our stylists</a></p>
        <p><a href="#">See return & exchange policy</a></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
        <div class="margintop margindown">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <span>ENTER PROMOTION CODE OR GIFTCARD<span>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="input-group input-group-sm">
              <input class="form-control" type="text" >
              <span class="input-group-btn"><button class=" btn btn-default marginlft" ng-click="applyCoupon($event)" ng-disabled="coupon_added==7">APPLY</button> </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
        <hr class="hrline">
        <div class="margintop">
          <strong>SUBTOTAL</strong> <span class="pull-right"><sup>$</sup>{{subtotal | currency:""}}</span>
        </div>

        <div class="margintop promocode">
          <strong>NO PROMOTION CODE APPLIED</strong> <span class="pull-right">-<sup>$</sup>0.00</span>
        </div>

        <div class="margintop">
          <strong>ESTIMATED SHIPPING*</strong>
          <span class="pull-right">FREE</span>
          <span class="help-block max-span"> You qualify for free shipping because your order is over $50*</span>
        </div>
        <hr>
        <div class="margintop">
          <strong>ESTIMATED TOTAL</strong> <span class="pull-right"><sup>$</sup>{{estotal | currency:""}}</span>
          <span class="help-block max-span">Tax will be applied during checkout</span>
        </div>
        <hr class="hrline">
        <div class="text-right checkout-div">
          <a href="#">CONTINUE SHOPPING</a>
          <button class="btn btn-sm btn-primary ">CHECKOUT</button>
        </div>
      </div>
      <div class="text-center">
        <img src="images/lock.jpg" alt="lock" class="lock-img" ><span> Secure checkout, Shopping always safe & secure</span>
      </div>
      <hr class="hidden-lg hidden-md">
      <div class="hidden-lg hidden-md text-center">
        <span><a href="#">SIGNIN</a>  to save your cart and have accesss to
          your items on mobile, tablet and desktop.
        </span>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
           <hr class="hrline">
           <h3>{{selectedItem.p_name | uppercase}}</h3>
           <h2><small><sup>$</sup></small>{{selectedItem.p_price | currency:""}}</h2>
           <h6>{{selectedItem.p_variation | uppercase}}</h6>

           <div class="row margindown">  <a href="#" class="color-div">&nbsp;</a><button class="btn color-div" ng-class="{'active': $index == isActive}" ng-click="activeClr($index)" ng-repeat="clr in selectedItem.p_available_options.colors" ng-style="{'background-color': clr.hexcode}" >&nbsp;</button></div>

           <div class="btn-group btn-input clearfix">
            <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
              SIZE: <span data-bind="label" ng-bind="selectedItem.p_selected_size.code" ></span>&nbsp;<span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li><a href="#" ng-repeat="size in selectedItem.p_available_options.sizes" ng-click="passSize(size.code,$event)">{{size.code |uppercase}}</a></li>

            </ul>
          </div>

           <div class="btn-group btn-input clearfix ">
            <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
              QTY: <span data-bind="label" ng-bind="selectedItem.p_quantity" ></span>&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu menuqty" role="menu" >
              <li ><a href="#" ng-click="passQty(1)">1</a></li>
              <li><a href="#" ng-click="passQty(2)">2</a></li>

            </ul>
          </div>

        <div class="row margintop margin-bottom">

            <button class="btn btn-primary btn-sm text-uppercase btn-block max-span margin-zero " ng-click="editProduct(selectedItem.p_id)">edit</button>

        </div>
          <p><a href="#">See Product Details</a><p>

         </div>
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <img ng-if="selectedItem !=undefined" ng-src='{{"images/"+"T"+selectedItem.p_id +".jpg"}}' alt="product" class="img-responsive margin-zero">
         </div>
       </div>
        </div>
      </div>
    </div>
  </div>


<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>

<script>
$( document.body ).on( 'click', '.menuqty li', function( event ) {

 var $target = $( event.currentTarget);

 var $elem = $target.closest( '.btn-group' )
    .find( '[data-bind="label"]' );


    $elem.text($target.text() )
       .end()
    .children( '.dropdown-toggle' ).dropdown( 'toggle' );

 return false;

});

</script>
</body>
</html>
